.App {
  text-align: center;
}

nav {
  background-color: black;
  color: white;
}

#main-header {
  font-size: 80px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

#genre-bar {
  padding-top: 20px;
}

#genre-bar > h2 {
  padding-right: 20px;
  margin: 0px;
  padding: 20px;
  display: inline;
}

#genre-select {
  font-size: 20px;
  display: inline;
}

#song-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}


.song {
  display: flex;
  margin: auto;
  margin-top: 35px;
  height: 200px;
  width: 45%;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

.song > div {
  margin-left: 20px;
  text-align: left;
}
audio {
  width: 250px;
}